/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/public/product_images/Sweet Bread.jpg
storage/public/product_images/Madiko-n Bread.jpg
storage/public/product_images/Loaf.PNG
storage/public/product_images/Barbarifle.jpg
storage/livewire-tmp/nJrvRc4efwCDBlVTDiVkCNO1eiyX4B-metaMTQxNDI1MTkxXzQxNTE5Mjk4OTcwODA1N18xNzE4MjUzNTEyOTY3MDM4MzkzX24uanBn-.jpg
storage/livewire-tmp/mhxb60s1diEU9UTXyhDzblHzYCTVac-metaMWQxMjBkOTkwMjAxN2NiNmVjMzQ4ZDUyYzYxZTYwODcuanBn-.jpg
storage/livewire-tmp/llP13wTQWOcCuAqiiUOTJbx8vrsLWB-metac2NoZWQuUE5H-.png
storage/livewire-tmp/gk1oQMtkO7I4PnCeNy8d2FYDf1W0Iu-metadGh1bWItMTkyMC02NTU1MTMuanBn-.jpg
storage/livewire-tmp/4r4ibpX0SURgFftNnCeDO9y4q2jfun-metaX19maXNjaGxfYW5kX2RhbmllbF9yYWRjbGlmZmVfZ2Vuc2hpbl9pbXBhY3RfYW5kXzRfbW9yZV9kcmF3bl9ieV9raWJhc2hpYmFfXzQ3ZjFiZDRhY2NiNmE0MTQxOGQ5OWM3NzhjN2IwNjc1LmpwZw==-.jpg
storage/images/logo.png
storage/images/logo.JPG
*.JPG
*.jpg
